/* BCN CSS Screen by Acózar 2019 (www.acozar.com) */

/* Version 1.0 */
/* General MIT License (MIT) */
/* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: */
/* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

/* ------------------------------------------------------------ Resets */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*,
*:hover,
*:hover:before,
*:hover:after,
*:target,
*:focus {
	/*Transition*/ 
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
::-moz-selection {
	background-color: #dd0000;
	color: var(--color-white);
}
::selection {
	background-color: #dd0000;
	color: var(--color-white);
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: var(--color-white);
	color: var(--color-black);
	font-family: var(--font-default);
	font-size: 20px;
	line-height: 32px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	vertical-align: baseline;
}
article,
aside,
blockquote,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
pre,
section,
summary { 
	display: block;
	position: relative;
}
audio,
canvas,
progress,
video { 
	display: inline-block;
	vertical-align: baseline;
}
[hidden],template { 
	display: none;
}
area, 
audio, 
canvas, 
img, 
map, 
object,
svg,
video {
	max-width: 100%;
}
a, button, select, label,
input[type="submit"], 
input[type="button"], 
input[type="checkbox"], 
input[type="radio"], 
input[type="file"], 
summary {
	cursor: pointer;
}

/* ------------------------------------------------------------ Basic Typography */

/* Headings */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	border: 1px solid transparent;
	font-weight: bold;
	line-height: 64px;
	margin: 0 0 30px;
	padding: 0;
	text-rendering: optimizeLegibility;
}
h4,
h5,
h6 {
	line-height: 32px;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.8em;
}
h5 {
	font-size: 1.6em;
}
h6 {
	font-size: 1em;
}
h1 small, 
h2 small, 
h3 small, 
h4 small, 
h5 small, 
h6 small {
	font-size: 50%;
	font-weight: 400;
	letter-spacing: .1em;
}
header p {
	letter-spacing: .1em;
}
h1 u,
h2 u,
h3 u,
h4 u,
h5 u,
h6 u {
	text-decoration: none;
}
h1 u:after,
h2 u:after,
h3 u:after,
h4 u:after,
h5 u:after,
h6 u:after {
	border: 4px solid currentColor;
	content: ' ';
	display: block;
	position: absolute;
	left: 0; right: 0;
	width: 99%;
}
@media (max-width: 767px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.4em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1em;
	}
	h1, 
	h2, 
	h3 {
		line-height: 64px;
	}
	h4,
	h5,
	h6 {
		line-height: 32px;
	}
}

/* Breaks */

hr, 
br {
	border: 1px solid transparent;
	height: 32px;
}
hr {
	clear: both;
	display: block;
	margin-bottom: 30px;
}

/* Paragraphs & text */

abbr[title] {
	border-bottom: thin dotted currentColor;
	cursor: help;
}
address {
	display: inline-block;
	font-style: italic;
}
b {
	font-weight: bold;
}
blockquote, cite {
	font-weight: 200;
	letter-spacing: 1px;
}
blockquote {
	border-left: .5em solid currentColor;
	margin: 32px 0;
	padding: 32px;
}
cite {
	clear: both;
	font-size: 75%;
}
del {
	text-decoration: line-through;
}
em {
	font-style: normal;
}
ins {
	font-style: italic;
	text-decoration: underline;
}
i {
	font-style: italic;
}
kbd {
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 4px;
	display: inline;
	padding: .15em .25em;
}
mark {
	background: inherit;
	border: 1px solid currentColor;
	font-weight: bold;
}
p,
pre,
code {
	font-size: 20px;
	line-height: 32px;
}
code, 
pre {
	font-family; var(--font-code);
}
pre {
	background: var(--color-translucentwhite);
	border: 1px solid currentColor;
	padding: 0 4px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	width: 100%;
}
q {
	letter-spacing: 1px;
}
small {
	font-size: 15px;
	line-height: 32px;
}
strong {
	color: inherit;
	font-weight: 500;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
}
sub {
	top: .5ex;
}
sup {
	bottom: 1ex;
}
u {
	text-decoration: underline;
}
time {
	letter-spacing: 1px;
}

/* ------------------------------------------------------------ Lists */

/* Default lists */

ol, ul {
	border: 1px solid transparent;
	line-height: 32px;
	margin: 0 0 30px;
}
li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 15px;
}
ol li {
	list-style-type: decimal;
}

/* Definition lists */

dt {
	border: 1px solid transparent;
	font-weight: bold;
}
dd {
	border: 1px solid transparent;
}

/* Summary & details */

summary {
	border: 1px solid transparent;
	font-weight: bold;
}
summary:focus {
	outline: 0;
}
details {
	clear: both;
}

/* ------------------------------------------------------------ Forms */

/* Forms */

button,
input, 
form, 
legend, 
datalist, 
label, 
legend,
select, 
option, 
optgroup,
select, 
textarea,
[contenteditable="true"] {
	background-color: transparent;
	color: inherit;
	font-size: 20px;
	line-height: 32px;
	position: relative;
}
button,
input,
textarea {
	background-color: var(--color-translucentwhite);
}

/* Input */

input,
select {
	border: 2px solid currentColor;
	height: 32px;
	outline: none;
	padding: 0 16px;
}
input:invalid {
	color: var(--color-red);
}
input[type=radio] {
	border-radius: 50%;
}
input[type=radio]:checked, 
input[type=checkbox]:checked {
	color: var(--color-green);
}
input[type=range] {
	border-color: transparent;
}
input[type=submit] {
	background: var(--color-translucentwhite);
}

/* Form & fieldset */

fieldset,
form { 
	background-color: inherit;
	width: 100%;
}
fieldset,
label {
	background: transparent;
	padding: 0 4px;
}

/* Indicators */

progress, meter {
	border: 1px solid currentColor;
	height: 32px;
	margin: 30px 0;
	width: 100%;
}
progress::-webkit-progress-bar,
meter::-webkit-meter-bar {  
	background: var(--color-grey);
}  
progress::-webkit-progress-value {  
	background: var(--color-blue);
}
meter::-webkit-meter-optimum-value {  
	background: var(--color-green);
}
progress::-moz-progress-bar {  
	background: var(--color-black);
}
meter::-moz-meter-bar {  
	background: var(--color-green);
}

/* Select */

select {
	background-color: rgba(255,255,255,.2);
	border: 2px solid currentColor;
	-webkit-appearance: none;
	-moz-appearance: none;
}
optgroup {}
textarea {
	border: 1px solid currentColor;
	cursor: text;
	overflow: auto;
	padding: 0 16px;
	width: 100%;
}

/* Focused input & textarea */

input:focus,
textarea:focus,
[contenteditable="true"]:focus {
	border-radius: 4px;
	box-shadow: inset 0 0 0.25em rgba(0,0,0,.1);
	color: inherit;
	outline: 0;
}
[contenteditable="true"]:focus:before {
	content:'\270E';
	font-family: var(--font-default);
	font-size: 32px;
	position: absolute;
	top: 0; right: 2px;
}

/* Input and emphatic info */

input + em {
	background: var(--color-translucentblack);
	border: 1px solid currentColor;
	color: var(--color-white);
	margin-left: -1px;
	padding: calc(3 * 1px) 16px;
}

/* strong input, radio & checkbox */

strong input[type=checkbox],
strong input[type=radio] {
	display: none;
}
strong input[type=checkbox] + label:before,
strong input[type=radio] + label:before {
	border: 2px solid currentColor;
	content: ' ';
	cursor: pointer;
	display: block; 
	float: left;
	font-size: 32px;
	font-weight: bold;
	height: 30px;
	margin: 0 1em 0;
	width: 30px;
}
strong input {
	border-bottom: 1px solid currentColor;
	color: inherit;
	display: block;
	padding: 32px;
	width: 100%;
}
strong input + label {
	display: block;
	font-weight: bold;
	padding: 32px 0;
}
strong [type=checkbox] + label, 
strong [type=radio] + label {
	cursor: pointer;
}
strong input:focus {
	border-left: 5px solid currentColor;
	box-shadow: none;
	color: var(--color-green);
}
strong input:focus + label {
	color: var(--color-green);
}
strong input[type=radio] + label:before {
	border-radius: 50%;
}
strong input[type=checkbox]:checked + label,
strong input[type=radio]:checked + label {
	color: var(--color-green);
}
strong input[type=checkbox]:checked + label:before,
strong input[type=radio]:checked + label:before {
	border: 2px solid var(--color-green);
	color: var(--color-green);
	content: '\2713';
}
strong select {
	font-weight: bold;
	height: 64px;
	width: 100%;
}

/* Switcher */

[data-mode=switcher] {
	display: block;
	padding: 0 1em;
	width: 64px;
}
[data-mode=switcher] [type=checkbox] + label,
[data-mode=switcher] [type=checkbox] + label span {
	border: 2px solid currentColor;
	border-radius: 32px;
	cursor: pointer;
	display: block;
	float: left;
	height: 32px;
	margin: -2px 1em 0 -2px;
	padding: 0;
	width: 64px;
}
[data-mode=switcher] [type=checkbox] + label {
	background-color: #ddd;
}
[data-mode=switcher] [type=checkbox] + label span {
	background-color: white;
	height: 32px;
	width: 32px;
}
[data-mode=switcher] [type=checkbox]:checked + label {
	background-color: var(--color-green);
	color: var(--color-green);
}
[data-mode=switcher] [type=checkbox]:checked + label span {
	margin-left: 32px;
}


/* ------------------------------------------------------------ Tables */

/* Tables */

table, 
caption, 
thead, 
tbody, 
tfoot, 
tr, 
th, 
td {
	border: thin solid transparent;
	font-weight: 200;
	text-align: left;
	vertical-align: top;
}
table {
	background-color: transparent;
	border: 1px solid currentColor;
	border-spacing: 0;
	line-height: 64px;
	margin: 7px 0;
	width: 100%;
}
tbody {}
caption,
col,
colgroup,
thead, 
tfoot {
	background-color: var(--color-translucentwhite);
}
td, th {
	border-bottom: 1px solid currentColor;
	padding: 0 15px;
}
th { 
	background: var(--color-translucentwhite);
	font-weight: bold;
}


/* ------------------------------------------------------------ Emphasys */

/* Emphasys links */

em a,
em label,
em button,
em div a {
	border: 1px solid currentColor;
	cursor: pointer;
	display: inline;
	display: inline-block;
	font-size: 20px;
	line-height: 32px;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
em small a,
em small button,
em small label {
	height: 64px;
	font-size: 20px;
	font-style: normal;
	line-height: 32px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	width: 64px;
	text-align: center;
}
u em a,
u em button,
u em  label {
	box-shadow: inset 0 -2px 1px currentColor;
}
del em a,
ins em a,
del em label,
ins em label,
del em button,
ins em button {
	cursor: progress;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	text-decoration: none;
}
del em a,
del em label,
del em button {
	cursor: not-allowed;
	text-decoration: line-through;
}
em div a {
	display: block;
	text-decoration: none;
}
@media (max-width: 1024px) {
	nav [data-mode=menu] em label {
		display: block;
		width: 100%;
	}
}

/* Emphasys links grouped */

strong em a,
strong em small a,
strong em label,
strong em button {
	border-radius: 0;
	float: left;
	margin: 0;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
}


/* ------------------------------------------------------------  Navigation */


nav {
	border-bottom: 1px solid currentColor;
	display: block;
	line-height: 32px;
	position: relative;
}
nav a,
nav label {
	border: 1px solid transparent;
	display:inline;
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}
article > nav a,
article > nav label,
aside > nav a,
aside > nav label {
	border-color: currentColor;
}
nav ul {
	border: 1px solid transparent;
	padding: 0 0 15px;
}
nav li {
	list-style: none;
}
nav li a,
nav li label {
	display: block;
}
nav a img, nav a svg,
nav label img, nav label svg {
	height: 20px;
	margin: 0 15px;
	width: 20px;
}
article footer + nav,
aside footer + nav,
section footer + nav,
dialog > nav {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid transparent;
	padding: 20px;
	text-align: right;
}

/* Nav input search */

nav form {
	display: block;
	position: absolute;
	text-align: right;
	top: 16px;
	right: 0;
	width: auto;
	z-index: 2;
}
nav li form {
	position: relative;
	text-align: left;
	width: 100%;
}
nav form input,
nav form input:focus {
	border: 2px solid currentColor;
	border-radius: 20px;
	color: inherit;
	position: relative;
	text-align: center;
}
nav form input[type=text] {
	width: 96px;
}
nav form input[type=text]:focus {
	background-color: rgba(255,255,255,1);
	color: #000000;
	width: 320px;
	z-index: 9;
}
nav form input[type=submit] {
	display: none;
	height: 32px; 
	width: 32px;
	line-height: 28px; 	
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 10;
}
nav form input:focus ~ input[type=submit] {
	display: inline;
}
nav form input:focus ~ not(nav form input) {
	opacity: .1;
}
nav label {
	cursor: pointer;
}

/* Nav small devices */

@media (max-width: 1024px) {
	nav {
		text-align: center;
	}
	nav form {
		display: block;
		position: relative;
		margin-bottom: 32px;
		text-align: center;
		top: 0;
		width: 100%;
	}
	nav form input[type=text]:focus {
		width: 80%;
	}
	footer nav a {
		display: inline-block;
	}
}



/* ------------------------------------------------------------ Structure */

header, 
main, 
footer,
article > div,
aside > div,
dialog > div,
section > div {
	border: thin solid transparent;
	clear: both;
	padding: 30px 0 15px;
	position: relative;
}
header {
	border-bottom: thin solid currentColor;
}
footer {
	border-top: thin solid currentColor;
}
article, aside {
	border: thin solid currentColor;
}
#site-header > div,
#page-header > div,
#page-main > div,
#site-nav > div,
#page-nav > div,
#page-section > div,
#page-footer > div,
[id*='page-section'] > div,
dialog > div {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1024px;
	max-width: var(--page-size);
}
dialog header,
dialog > div,
dialog footer,
article header,
article > div,
article footer,
aside header,
aside > div,
aside footer,
section header,
section > div,
section footer {
	padding-left: 7px;
	padding-right: 7px;
}
#page-header > div {
	padding-top: 32px;
}
#page-footer {
	background-color: var(--color-black);
	color: var(--color-white);
	padding-bottom: 64px;
}

/* ------------------------------------------------------------ Media */


/* Images */

img, svg {
	fill: currentColor;
	stroke: transparent;
	height: auto;
	width: auto;
	max-width: 100%;
}
nav a img,
nav a svg {
	height: 32px;
	margin: -.5em 0;
	width: 32px;
}
h1 img,
h1 svg,
h2 img,
h2 svg,
h3 img,
h3 svg,
h4 img,
h4 svg,
h5 img,
h5 svg,
h6 img,
h6 svg {
	height: 64px;
	margin: 0 auto -16px;
	width: 64px;
}
em a img,
em a svg,
em label img,
em label svg,
button img,
button svg {
	height: 32px;
	margin: -.25em .25em -.5em -.25em;
	width: 32px;
}
em small a img,
em small a svg {
	height: 100%;
	margin: 0px;
	width: 100%;
}

/* Figures */

figure {
	border: 1px solid transparent;
	margin: 32px 0;
	padding: 0;
}
figure img {
	height. auto;
	width: 100%;
}
figure figcaption {
	line-height: 32px;
	text-align: center;
	padding: 4px;
	position: absolute;
	bottom: 0; left: 0; right: 0;
	text-decoration: none !important;
}

/* Video */

figure div {
	border-radius: 4px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
	margin-bottom: 1;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
	z-index: 5;
}
figure div iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------------------  Links & buttons */

/* Links */

a:hover, a:active, a:visited, a:visited:hover {
	border-color: currentColor;
	text-decoration: underline;
	-moz-opacity: 0.9;
	opacity: 0.9;
}
h1 a:not(:hover), 
h2 a:not(:hover), 
h3 a:not(:hover),
h4 a:not(:hover), 
h5 a:not(:hover), 
h6 a:not(:hover),
a:after, 
a:before,
nav a:not(:hover) {
	text-decoration: none !important;
}
em a,
em label,
em button,
nav a,
nav label,
.menu label,
.tabs label {
	box-shadow: inset 0 0px 0px rgba(0,0,0,.1);
}
em a:hover,
em label:hover,
em button:hover,
em a:visited:hover,
nav a:hover,
nav label:hover,
.menu label:hover,
.tabs label:hover {
	box-shadow: inset 0 0 0 5em rgba(255,255,255,.1);
}
em a:active,
em label:active,
em button:active,
nav a:active,
nav label:active,
.menu label:active,
.tabs label:active {
	box-shadow: inset 0 0 0 .05em currentColor;
}

/* ------------------------------------------------------------ Skin */

/* Light theme (default) */

#page {
	background: var(--color-white);
	color: var(--color-softblack);
}
a {
	color: var(--color-hardgrey);
}
a:visited,
em a:visited {
	color: var(--color-grey);
}
a:hover,
a:visited:hover,
em button:hover,
em label:hover {
	color: var(--color-grey);
}
a:active,
a:visited:active {
	color: var(--color-black);
}

/* Meridianus theme */

#theme-meridianus:checked ~ #page,
#theme-meridianus:checked ~ #site-nav,
#theme-meridianus:checked ~ #page-nav,
#theme-meridianus:checked ~ div > dialog {
	background-color: var(--color-bgmeridianus);
	color: var(--color-textmeridianus);	
}
#theme-meridianus:checked ~ #page a {
	color: var(--color-textmeridianus);	
}
#theme-meridianus:checked ~ #page em a,
#theme-meridianus:checked ~ #page em label,
#theme-meridianus:checked ~ #page em button,
#theme-meridianus:checked ~ #page em a:visited {
	background-color: var(--color-textmeridianus);
	color: var(--color-white);	
}
#theme-meridianus:checked ~ #page a:visited {
	color: var(--color-textmeridianus);
}
#theme-meridianus:checked ~ #page label:hover,
#theme-meridianus:checked ~ #page button:hover,
#theme-meridianus:checked ~ #page a:hover,
#theme-meridianus:checked ~ #page a:visited:hover {
	color: var(--color-starredmeridianus);
}
#theme-meridianus:checked ~ #page a:active,
#theme-meridianus:checked ~ #page a:visited:active {
	color: var(--color-textmeridianus);
}
#theme-meridianus:checked ~ #page nav a:hover,
#theme-meridianus:checked ~ #page nav label:hover {
	background-color: var(--color-translucentwhite);
}

/* vesperum theme */

#theme-vesperum:checked ~ #page,
#theme-vesperum:checked ~ #site-nav,
#theme-vesperum:checked ~ #page-nav,
#theme-vesperum:checked ~ div > dialog {
	background-color: var(--color-bgvesperum);
	color: var(--color-textvesperum);	
}
#theme-vesperum:checked ~ #page a {
	color: var(--color-textvesperum);	
}
#theme-vesperum:checked ~ #page em a,
#theme-vesperum:checked ~ #page em label,
#theme-vesperum:checked ~ #page em button,
#theme-vesperum:checked ~ #page em a:visited {
	background-color: var(--color-textvesperum);
	color: var(--color-white);	
}
#theme-vesperum:checked ~ #page a:visited {
	color: var(--color-textvesperum);
}
#theme-vesperum:checked ~ #page label:hover,
#theme-vesperum:checked ~ #page button:hover,
#theme-vesperum:checked ~ #page a:hover,
#theme-vesperum:checked ~ #page a:visited:hover {
	color: var(--color-starredvesperum);
}
#theme-vesperum:checked ~ #page a:active,
#theme-vesperum:checked ~ #page a:visited:active {
	color: var(--color-starredvesperum);
}
#theme-vesperum:checked ~ #page nav a:hover,
#theme-vesperum:checked ~ #page nav label:hover {
	background-color: var(--color-translucentwhite);
}

/* Nox theme */

#theme-nox:checked ~ #page,
#theme-nox:checked ~ #site-nav,
#theme-nox:checked ~ #page-nav,
#theme-nox:checked ~ div > dialog {
	background-color: var(--color-softblack);
	color: var(--color-white);	
}
#theme-nox:checked ~ #page a {
	color: var(--color-white);	
}
#theme-nox:checked ~ #page em a,
#theme-nox:checked ~ #page em label,
#theme-nox:checked ~ #page em button {
	background-color: var(--color-black);
	color: var(--color-softgrey);	
}
#theme-nox:checked ~ #page a:visited,
#theme-nox:checked ~ #page em a:visited {
	color: var(--color-grey);
}
#theme-nox:checked ~ #page label:hover,
#theme-nox:checked ~ #page button:hover,
#theme-nox:checked ~ #page a:hover,
#theme-nox:checked ~ #page a:visited:hover {
	color: var(--color-softgrey);
}
#theme-nox:checked ~ #page a:active,
#theme-nox:checked ~ #page a:visited:active {
	color: var(--color-grey);
}
#theme-nox:checked ~ #page nav a:hover,
#theme-nox:checked ~ #page nav label:hover {
	background-color: var(--color-translucentwhite);
}

/* Page grid 
#page {
	background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
	background-repeat: repeat-y;
	background-size: 100% 16px;
}
*/


/* Root variables */

:root {
	/* Page Width */
	--page-size: 1200px;
	
	/* Soft Colors */
	--color-softyellow: rgba(253,242,208,1);
	--color-softorange: rgba(248,228,211,1);
	--color-softred: rgba(238,213,213,1);
	--color-softmagenta: rgba(224,204,216,1);
	--color-softviolet: rgba(228,220,238,1);
	--color-softblue: rgba(209,234,249,1);
	--color-softturquoise: rgba(228,238,238,1);
	--color-softgreen: rgba(220,244,228,1);
	
	/* Colors */
	--color-yellow: rgba(244,192,21,1);
	--color-orange: rgba(204,119,34,1);
	--color-red: rgba(168,47,47,1);
	--color-magenta: rgba(102,2,60,1);
	--color-violet: rgba(120,81,169,1);
	--color-blue: rgba(23,148,227,1);
	--color-turquoise: rgba(122,172,172,1);
	--color-green: rgba(80,200,120,1);

	/* B & W */
	--color-white: rgba(255,255,255,1);
	--color-softgrey: rgba(230,230,230,1);
	--color-grey: rgba(150,150,150,1);
	--color-hardgrey: rgba(90,90,90,1);
	--color-softblack: rgba(60,60,60,1);
	--color-black: rgba(0,0,0,1);
	
	/* Meridianus Theme */
	--color-bgmeridianus: rgba(248,228,211,1);
	--color-textmeridianus: rgba(204,119,34,1);
	--color-starredmeridianus: rgba(168,47,47,1);
	
	/* vesperum Theme */
	--color-bgvesperum: rgba(228,220,238,1);
	--color-textvesperum: rgba(120,81,169,1);
	--color-starredvesperum: rgba(102,2,60,1);
	
	/* Overlays */
	--color-translucentblack: rgba(0,0,0,.5);
	--color-translucentwhite: rgba(255,255,255,.4);
		
	/* Font stacks */
	--font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	--font-code: Monaco, Menlo, Consolas,'Courier New', monospace;
}
	
/* The end */

/* BCN CSS Components by Acózar 2019 (www.acozar.com) */

/* Version 1.0 */
/* General MIT License (MIT) */
/* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: */
/* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

/* ------------------------------------------------------------ Animation Keyframes */

/* FadeIn */

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
}
@-o-keyframes fadeIn {
	from { opacity: 0; }
}
@keyframes fadeIn {
	from { opacity: 0; }
}

/* FadeOut */

@-webkit-keyframes fadeOut {
	to { opacity: 0; }
}
@-moz-keyframes fadeOut {
	to { opacity: 0; }
}
@-o-keyframes fadeOut {
	to { opacity: 0; }
}
@keyframes fadeOut {
	to { opacity: 0; }
}

/* moveFromTopFade */

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
	from { opacity: 0; -moz-transform: translateY(-100%); }
}
@-o-keyframes moveFromTopFade {
	from { opacity: 0; -o-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0; transform: translateY(-100%); }
}

/* moveFromBottomFade */

@-webkit-keyframes moveFromBottomFade {
	from { opacity: 0; -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveFromBottomFade {
	from { opacity: 0; -moz-transform: translateY(100%); }
}
@-o-keyframes moveFromBottomFade {
	from { opacity: 0; -o-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
	from { opacity: 0; transform: translateY(100%); }
}

/* moveFromLeftFade */

@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeftFade {
	from { opacity: 0; -moz-transform: translateX(-100%); }
}
@-o-keyframes moveFromLeftFade {
	from { opacity: 0; -o-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0; transform: translateX(-100%); }
}

/* moveFromRightFade */

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0; -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRightFade {
	from { opacity: 0; -moz-transform: translateX(100%); }
}
@-o-keyframes moveFromRightFade {
	from { opacity: 0; -o-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0; transform: translateX(100%); }
}

/* ------------------------------------------------------------ Basic animations */

#site-nav {
	-webkit-animation: moveFromLeftFade .7s ease both;
	-moz-animation: moveFromLeftFade .7s ease both;
	-o-animation: moveFromLeftFade .7s ease both;
	animation: moveFromLeftFade .7s ease both;
}
#site-nav > div,
#site-header,
#page-header,
#page-main,
#page-nav,
#page-section,
#page-footer,
[id*='page-section'],
dialog {
	-webkit-animation: fadeIn .7s ease both;
	-moz-animation: fadeIn .7s ease both;
	-o-animation: fadeIn .7s ease both;
	animation: fadeIn .7s ease both;
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	animation-delay: .7s;
}

/* ------------------------------------------------------------ Flex-grid */

.flex-grid,
[class*='flex-grid'],
.flex-box,
[class*='flex-box'] {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: skretch;
}

.flex-grid > *,
[class*='flex-grid'] > section,
.flex-box > *,
[class*='flex-box'] > section {
	padding: 1em;
}

.panel {
	border: 1px solid currentColor;
}

.flex-grid-1 > *,
.flex-box-1 > * {
	width: 99%;
}
.flex-grid-2 > *,
.flex-box-2 > * {
	width: 49.5%;
}
.flex-grid-3 > *,
.flex-box-3 > * {
	width: 33%;
}
.flex-grid-4 > *,
.flex-box-4 > * {
	width: 24.75%;
}
.flex-grid-5 > *,
.flex-box-5 > * {
	width: 19.75%;
}
.flex-grid-6 > *,
.flex-box-6 > * {
	width: 16.5%;
}
.flex-grid-7 > *,
.flex-box-7 > * {
	width: 14.2%;
}
.flex-grid-8 > *,
.flex-box-8 > * {
	width: 12.35%;
}
.flex-grid-9 > *,
.flex-box-9 > * {
	width: 11%;
}
.flex-grid-10 > *,
.flex-box-10 > * {
	width: 9.9%;
}
.flex-grid-12 > *,
.flex-box-12 > * {
	width: 8.25%;
}


@media (max-width: 1024px) {
	[class*='flex-grid'] { display: block; }
	[class*='flex-grid'] > * { display: block; width: 100%; }
	[class*='flex-box'].flex-half > * { width: 49.5%; }
	[class*='flex-box'].flex-thirth > * { width: 33%; }
	[class*='flex-box'].flex-fourth > * { width: 24.75%; }
}

/* ------------------------------------------------------------ Layouts */


#layout > nav {
	margin-bottom: 2px;
}
#layout article strong {
	font-size: 12px;
	font-weight: 200;
	letter-spacing: .1em;
	line-height: 16px;
}
#layout article {
	background-color: inherit;
}
#layout article h3 {
	font-size: 24px;
	line-height: 32px;
	padding: 16px 4px 0;
}
#layout article h3 a {
	text-decoration: none;
}
#layout article h3 a:hover {
	text-decoration: underline;
}
#layout article strong {
	padding: 0 4px;
}
#layout article > div * {
	pointer-events: none;
}
#layout article nav {
	border: none;
	margin: 1px;
}
#layout article nav a {
	border-color: currentColor;
	display: block;
	height: 62px;
	margin: 4px auto;
	text-align: center;
	text-decoration: none;
	width: 62px;
}
article > div {
	padding: 4px;
}

/* Free view */

.free article,
#layout-free:checked ~ #layout-result article {
	border: none;
	margin: 0 auto 32px;
	width: 80%;
	max-width: 800px;
}

/* Simple view */

.simple article,
#layout-simple:checked ~ #layout-result article {
	border: none;
	border-top: 16px solid currentColor;
	padding: 16px 0;
}
.simple article h3,
#layout-simple:checked ~ #layout-result article h3 {
	margin: 0;
}
.simple article strong,
#layout-simple:checked ~ #layout-result article strong {
	margin: 0;
}
.simple article div,
#layout-simple:checked ~ #layout-result article div {

}
.simple article div img,
#layout-simple:checked ~ #layout-result article div img {
	height: 254px;
	margin-bottom: 24px;
	object-fit: cover;
	width: 100%;
}
.simple article nav,
#layout-simple:checked ~ #layout-result article nav {
	border-color: transparent;
	text-align: center;
}
.simple article nav a,
#layout-simple:checked ~ #layout-result article nav a {
	height: 62px;
	line-height: 64px;
	padding: 0;
	width: 62px;
}

/* List view */

.list article,
#layout-list:checked ~ #layout-result article {
	border-color: transparent;
	border-top: 1px solid currentColor;
	height: 320px;
	margin: 0;
	padding: 16px 0 0;
}
.list article h3,
#layout-list:checked ~ #layout-result article h3 {
	line-height: 32px;
	margin: 0;
	padding: 0 64px 0 0;
}
.list article strong,
#layout-list:checked ~ #layout-result article strong {
	font-size: 12px;
	margin: 0;
}
.list article div,
#layout-list:checked ~ #layout-result article div {
	display: block;
	height: 160px;
	margin: 0 0 16px;
	overflow: hidden;
}
.list article div img,
#layout-list:checked ~ #layout-result article div img,
.list article div figure,
#layout-list:checked ~ #layout-result article div figure {
	border-radius: 50%;
	height: 128px;
	float: left;
	margin: 0 32px 0 0;
	object-fit: cover;	
	width: 128px;
}
.list article nav,
#layout-list:checked ~ #layout-result article nav {
	border-color: transparent;
	padding: 0;
	position: absolute;
	right: 0; top: 0; bottom: 0;
	text-align: center;
	width: 48px;
}
.list article nav a,
#layout-list:checked ~ #layout-result article nav a {
	line-height: 32px;
	height: 48px;
	padding: 8px 0;
	width: 48px;
}

/* Table view */

.table article,
#layout-table:checked ~ #layout-result article {
	border: none;
	clear: both;
	display: block;
	float: none;
	height: 320px;
	margin: 0 0 32px;
	overflow: hidden;
	vertical-align: bottom;
	text-align: left;
	Width: 100%;
}
.table article h3,
.table article strong,
.table article div,
#layout-table:checked ~ #layout-result article h3,
#layout-table:checked ~ #layout-result article strong,
#layout-table:checked ~ #layout-result article div {
	border: none;
	border-top: 16px solid currentColor;
	clear: none;
	display: block;
	float: left;
	margin: 0 1%;
	overflow: hidden;
	padding: 16px 0;
	width: 22.9999999999%; 
}
.table article h3,
#layout-table:checked ~ #layout-result article h3 {
		line-height: 32px;
		width: 47.9999999999%;
}
.table article strong,
#layout-table:checked ~ #layout-result article strong {
	padding: 32px 8px 0;
}
.table article div,
#layout-table:checked ~ #layout-result article div {
	height: 254px;
}
.table article div img,
#layout-table:checked ~ #layout-result article div img {
	height: 254px;
	object-fit: cover;
	width: 100%;
}
.table article nav,
#layout-table:checked ~ #layout-result article nav {
	border: none;
	clear: both;
	margin: 16px 0;
}
.table article nav a,
#layout-table:checked ~ #layout-result article nav a {
	border: 8px solid currentColor;
	margin: 16px;
	padding: 6px;
}
@media (max-width: 1024px) {
	.table article,
	#layout-table:checked ~ #layout-result article {
		height: auto;
		width: 100%;
	}
	.table article h3,
	#layout-table:checked ~ #layout-result article h3,
	#layout-table:checked ~ #layout-result article strong,
	#layout-table:checked ~ #layout-result article div,
	#layout-table:checked ~ #layout-result article nav {
		margin: 0;
		width: 47.9999999999%;
	}
	.table article div,
	#layout-table:checked ~ #layout-result article div {
		border: none;
		height: 208px;
		margin-bottom: 16px;
	}
	.table article div img,
	#layout-table:checked ~ #layout-result article div img {
		height: 240px;
	}
	.table article nav,
	#layout-table:checked ~ #layout-result article nav {
		text-align: left;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.table article h3,
	.table article strong,
	.table article div,
	#layout-table:checked ~ #layout-result article h3,
	#layout-table:checked ~ #layout-result article strong,
	#layout-table:checked ~ #layout-result article div {
			margin: 0;
			width: 100%;
		}
}

/* Gallery view */

.gallery article,
#layout-gallery:checked ~ #layout-result article {
	border: none;
	clear: none;
	display: block;
	float: left;
	margin: 0 0.5% 16px;
	padding: 0;
	overflow: hidden;
	text-align: center;
	width: 23.9999999999%; 
}
.gallery article h3,
#layout-gallery:checked ~ #layout-result article h3 {
	font-size: 16px;
	height: 64px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
}
.gallery article div,
#layout-gallery:checked ~ #layout-result article div {
	height: 320px;
	overflow: hidden;
}
.gallery article div img,
#layout-gallery:checked ~ #layout-result article div img {
	height: 256px;
	margin-bottom: 64px;
	overflow: hidden;
	object-fit: cover;
	width: 100%;
}
.gallery article nav,
#layout-gallery:checked ~ #layout-result article nav {
	border-color: transparent;
	font-size: 16px;
	line-height: 32px;
	position: absolute;
	bottom: 32px; left: 35%;
	width: 30%;
	z-index: 15;
}
.gallery article nav a,
#layout-gallery:checked ~ #layout-result article nav a {
	background-color: #ffffff;
	background-color: rgba(255,255,255,.8);
	border-radius: 50%;
}
.gallery article:hover nav a,
#layout-gallery:checked ~ #layout-result article:hover nav a {
	background-color: rgba(255,255,255,1);
}	

/* Cards view */

.cards article,
#layout-cards:checked ~ #layout-result article {
	border: 1px solid currentColor;
	border-radius: 2px;
	clear: none;
	display: block;
	float: left;
	margin: 0 0.5% 16px;
	padding: 16px 0 0;
	overflow: hidden;
	width: 23.9999999999%; 
}
.cards article:hover,
#layout-cards:checked ~ #layout-result article:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.cards article h3,
#layout-cards:checked ~ #layout-result article h3 {
	font-size: 16px;
	height: 64px;
	line-height: 16px;
	margin: 0;
	padding: 0 4px;
	overflow: hidden;
}
.cards article strong,
#layout-cards:checked ~ #layout-result article strong {
	color: currentColor;
	height: 16px;
	padding: 0 4px;
	overflow: hidden;
}
.cards article div,
#layout-cards:checked ~ #layout-result article div {
	height: 186px;
	overflow: hidden;
	padding: 0;
}.cards article div img,
#layout-cards:checked ~ #layout-result article div img {
	height: 186px;
	overflow: hidden;
	object-fit: cover;	
	width: 100%;
}
.cards article nav,
#layout-cards:checked ~ #layout-result article nav {

}
.cards article nav a,
#layout-cards:checked ~ #layout-result article nav a {
	border-color: transparent;
	border-radius: 50%;
	height: 32px;
	line-height: 32px;
	padding: 0;
	width: 32px;
}

/* Tiles view */

.tiles article,
#layout-tiles:checked ~ #layout-result article {
	border: none;
	clear: none;
	display: block;
	float: left;
	height: 256px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 24.9999999999%; 
}
.tiles article:hover,
#layout-tiles:checked ~ #layout-result article:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.5);
}
.tiles article h3,
.tiles article strong,
.tiles article div,
.tiles article nav,
#layout-tiles:checked ~ #layout-result article h3,
#layout-tiles:checked ~ #layout-result article strong,
#layout-tiles:checked ~ #layout-result article div,
#layout-tiles:checked ~ #layout-result article nav {
	border: none;
	text-align: center;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
}
.tiles article h3,
#layout-tiles:checked ~ #layout-result article h3 {
	color: rgba(255,255,255,.8);
	font-size: 16px;
	line-height: 16px;
	height: 256px;
	padding: 96px 16px;
	text-decoration: none;
	z-index: 9;
}
.tiles article nav,
#layout-tiles:checked ~ #layout-result article nav {
	bottom: -100%;
}
.tiles article strong,
#layout-tiles:checked ~ #layout-result article strong,
.tiles article nav,
#layout-tiles:checked ~ #layout-result article nav,
.tiles article a,
#layout-tiles:checked ~ #layout-result article a {
	z-index: 9;
	color: rgba(255,255,255,0);
}
.tiles article:hover h3,
#layout-tiles:checked ~ #layout-result article:hover h3,
.tiles article:hover strong,
#layout-tiles:checked ~ #layout-result article:hover strong,
.tiles article:hover nav,
#layout-tiles:checked ~ #layout-result article:hover nav,
.tiles article:hover a,
#layout-tiles:checked ~ #layout-result article:hover a {
	color: #ffffff;
	color: rgba(255,255,255,1);
}
.tiles article:hover nav,
#layout-tiles:checked ~ #layout-result article:hover nav {
	bottom: 0;
	z-index: 10;
}
.tiles article strong,
#layout-tiles:checked ~ #layout-result article strong {
	top: 16px;
	z-index: 9;
}
.tiles article div,
#layout-tiles:checked ~ #layout-result article div {
	height: 256px;
	overflow: hidden;
	padding: 0;
	z-index: 8;
}
.tiles article div img,
#layout-tiles:checked ~ #layout-result article div img {
	border: none;
	height: 256px;
	overflow: hidden;
	object-fit: cover;	
	width: 100%;
}
.tiles article nav,
#layout-tiles:checked ~ #layout-result article nav {
	top: auto;
	z-index: 9;
}
.tiles article nav a,
#layout-tiles:checked ~ #layout-result article nav a {
	border-radius: 50%;
	margin: 0 auto 6px;
	width: 64px;
}

@media (max-width: 960px) {
	.gallery article,
	.cards article,
	.tiles article,
	#layout-gallery:checked ~ #layout-result article,
	#layout-cards:checked ~ #layout-result article,
	#layout-tiles:checked ~ #layout-result article {
			width: 32.3333333333%;
	}
}
@media (max-width: 767px) {
	.gallery article,
	.cards article,
	.tiles article,
	#layout-gallery:checked ~ #layout-result article,
	#layout-cards:checked ~ #layout-result article,
	#layout-tiles:checked ~ #layout-result article {
			width: 48.9999999999%;
	}
}
@media (max-width: 480px) {
	.gallery article,
	.cards article,
	.tiles article,
	#layout-gallery:checked ~ #layout-result article,
	#layout-cards:checked ~ #layout-result article,
	#layout-tiles:checked ~ #layout-result article {
			width: 100%;
	}
}

/* ------------------------------------------------------------ Components */


/* Site logo */

.site-logo {
	border-radius: 50%;
	padding: 0;
	position: absolute;
	top: 16px;
	left: 0;
	z-index: 11;
}
.site-logo:hover {
	background-color: transparent !important;
	box-shadow: inset 0 0 4px currentColor;
}
.site-logo img {
	border-radius: 50%;
	position: relative;
}

/* Smart navigation */

.nav-smart div div[hidden] {
	display: block;
	padding: 0 2em;
	position: relative;
}
.nav-smart strong label {
	display: none;
	padding-right: 26px;
	position: relative;
}

/* Sticky navigation */

.nav-sticky {
	background-color: inherit;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	left: 0;
	z-index: 10;
}
@media (max-width: 1024px) {
	.nav-sticky {
		position: relative; 
	}
}

/* Scroll navigation */

.nav-scroll div { 
	height: 64px;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
@media (max-width: 1024px) {
	.nav-scroll form {
		display: inline-block;
		position: relative;
		top: 1px;
		text-align: center;
		width: auto;
	}
	.nav-scroll form input[type=submit] {
		top: -8px;
	}
}

/* Navigation with menus */

nav .menu label {
	padding-right: 64px;
}
nav .menu nav {
	width: 256px;
}

/* Small devices navigation */

@media (max-width: 1024px) {
	.nav-smart,
	nav .menu nav {
		position: relative;
	}
	nav .menu nav {
		background-color: transparent;
		box-shadow: none;
		top: 0;
		width: 100%;
	}
	.nav-smart div strong label {
		display: inline-block;
	}
	.nav-smart div div[hidden] {
		display: none;
	}
	.nav-smart div div[hidden] a,
	nav .menu,
	nav .menu nav ul li a {
		display: block;
	}
	.nav-smart input:checked ~ div[hidden] {
		display: block;
	}
}

/* Dialog, menu, collapser, accordion and tabs */

dialog {
	background: #ffffff;
	border: 1px solid currentColor;
	box-shadow: 0 0 12px rgba(0,0,0,.5);
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	right: 20%;
	width: 60%;
	z-index: 20;
	-webkit-animation: moveFromTopFade .7s ease both;
	-moz-animation: moveFromTopFade .7s ease both;
	-o-animation: moveFromTopFade .7s ease both;
	animation: moveFromTopFade .7s ease both;
}
@media (max-width: 1024px) {
	dialog {
		top: 16px;
		left: 5%;
		right: 5%;
		width: 90%;
	}
}
.overlay,
.overlay-transparent {
	background-color: rgba(0,0,0,.4);
	box-shadow: none !important;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 19;
}
.overlay-transparent {
	background-color: transparent;
}
.menu {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
}
.menu label {
	cursor: pointer;
	z-index: 5;
}
.menu em label {
	padding-right: 52px;
}
.menu > nav {
	background-color: #fff;
	border: 1px solid transparent;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	position: absolute;
	top: 3em; left: 0;
	width: 100%;
	z-index: 9;
	-webkit-animation: fadeIn .7s ease both;
	-moz-animation: fadeIn .7s ease both;
	-o-animation: fadeIn .7s ease both;
	animation: fadeIn .7s ease both;
}
.menu nav a {
	border-color: transparent;
	color: #333;
}
.collapser > div,
.accordion ul > li > div,
.tabs ul li > div {
	border: 1px solid currentColor;
	border-top: none;
	clear: both;
	margin: 0;
	padding: 14px 14px 15px;
}
.tabs label {
	border: 1px solid currentColor;
	border-bottom: none;
	margin: 0 1px -1px;
}
.tabs ul li > div {
	margin-top: 14px;
	-webkit-animation: fadeIn .7s ease both;
	-moz-animation: fadeIn .7s ease both;
	-o-animation: fadeIn .7s ease both;
	animation: fadeIn .7s ease both;
}
.collapser em label,
.accordion em label {
	display: block;
	position: relative;	
	width: 100%;
}
.menu nav > ul,
.menu nav > ul > li,
.accordion > ul,
.accordion > ul > li,
.tabs > ul,
.tabs > ul > li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
input:checked ~ dialog,
input:checked ~ .overlay,
input:checked ~ .overlay-transparent,
.menu input:checked ~ nav[hidden],
.collapser input:checked ~ div[hidden],
.accordion li input:checked ~ div[hidden],
.tabs input:checked ~ div[hidden] {
	display: block;
}
.collapser hidden {
	display: none;
	visibility: hidden;
}
@media (max-width: 1024px) {
	.tabs nav a,
	.tabs nav label {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 25%;
	}
}

/* Flip card */

.flip {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: 99%;
	height: 25em;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}
.flip article,
.flip aside {
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
			transform-style: preserve-3d;
	
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
			backface-visibility: hidden;
	
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
	     -o-transition: all .4s ease-in-out;	   
			transition: all .4s ease-in-out;
}
.flip header {
	height: 8em;
	overflow: hidden;
	padding: 0 12px;
}
.flip article > div,
.flip aside > div {
	display: block;
	height: 15em;
	overflow-x: auto;
}
.flip article {
	z-index: 8;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}
.flip input:checked ~ article {
	z-index: 6;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flip aside {
	float: none;
	z-index: 7;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flip input:checked ~ aside {
	z-index: 9;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

/* Alert */

.alert,
.alert + em label {
	-webkit-animation: fadeIn 1s ease both;
	-moz-animation: fadeIn 1s ease both;
	-o-animation: fadeIn 1s ease both;
	animation: fadeIn 1s ease both;
}
input:checked ~ .alert {
	display: none;
}
input:not(:checked) ~ .alert + label,
input:not(:checked) ~ .alert + em label {
	display: none;
}

/* Slider */

.slider,
.slideshow {
	position: relative;
}
.slider li div[hidden] {
	display: none;
    opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1;
}
.slider li input:checked ~ div[hidden] {
	display: block;
    opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=1);
	z-index: 3;
}
.slideshow,
.slideshow img,
.slider,
.slider ul,
.slider ul li,
.slider div,
.slider div > img {
	display: block;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.slider nav {
	border: none;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 4;
}
.slider nav label,
.slider nav a {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	padding: 0;
	height: 1em;
	width: 1em;
}
.slider div label {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	height: 52px;
	width: 52px;
	padding: 12px;
	text-align: center;
	position: absolute;
	top: 40%;
}
.slider div label:hover {
	background: rgba(255,255,255,.4);
}
.slider div[hidden] label:first-child {
	left: 0;
}
.slider div[hidden] label:last-child {
	right: 0;
	left: auto;
}

/* Tooltip & pophover */

.pophover,
.tooltip {
	position: relative;
}
.pophover:hover:after,
.tooltip:hover:before {
	content: attr(data-title);
	cursor: pointer;
	position: absolute;
	z-index: 5;
	-webkit-animation: fadeIn .7s ease both;
	-moz-animation: fadeIn .7s ease both;
	-o-animation: fadeIn .7s ease both;
	animation: fadeIn .7s ease both;
}
.tooltip:hover:before {
	background: rgba(255,255,255,.8);
	border: 1px solid currentColor;
	box-shadow: 0 0 .25em rgba(0,0,0,.2);
	min-width: 10em;
	padding: 16px;
	text-shadow: 0 0 0 transparent;
	top: -1px; left: 100%;
}
.pophover:hover:after {
	background-color: rgba(0,0,0,.8);
	border: 1px solid currentColor;
	border-radius: 4px;
	box-shadow: 0 0 .25em rgba(0,0,0,.2);
	color: #fff;
	min-width: 64px;
	padding: 8px 0;
	top: -64px;
	left: -100%;
	right: -100%;
}

/* Lightbox */

[id*='lightbox']:hover,
[id*='lightbox']:visited,
[id*='lightbox']:active,
[id*='lightbox']:visited:hover {
	text-decoration: none;
	-moz-opacity: 1;
	opacity: 1;
}
[id*='lightbox']:target {
	background-color: rgba(0,0,0,.8);
	display: block;
	text-align: center;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 24;
}
[id*='lightbox']:target img {
	display: block;
	position: absolute;
	top: 50%;
	left: 0; right: 0;
	margin: -25% auto 0;
	max-height: 80%;
	max-width: 80%;
	width: auto;
	-webkit-animation: fadeIn 1s ease both;
	-moz-animation: fadeIn 1s ease both;
	-o-animation: fadeIn 1s ease both;
	animation: fadeIn 1s ease both;
}
[id*='lightbox']:target + a + figcaption {
	color: #ffffff;
	position: fixed;
	bottom: 0; left: 0; right: 0;
	height: 64px;
	z-index: 25;
}

/* Dismiss & Lightbox labels */

dialog > label,
.alert > label,
.flip article > label,
.flip aside > label,
[id*='lightbox']:target + a,
[id*='lightbox']:target ~ .previous,
[id*='lightbox']:target ~ .next {
	border: 2px solid currentColor;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	font-size: 26px;
	font-weight: bold;
	height: 42px;
	line-height: 34px;
	width: 42px;
	text-align: center;
	text-decoration: none;
	z-index: 25;
	position: absolute;
	top: 16px;
	right: 16px;
}
dialog > label:hover,
.alert > label:hover,
.flip article > label:hover,
.flip aside > label:hover,
[id*='lightbox']:target + a:hover,
[id*='lightbox']:target ~ .previous:hover,
[id*='lightbox']:target ~ .next:hover {
	background-color: #333333;
	color: #ffffff;
}
dialog > label:active,
.alert > label:active,
.flip article > label:active,
.flip aside > label:active,
[id*='lightbox']:target + a:active,
[id*='lightbox']:target ~ .previous:active,
[id*='lightbox']:target ~ .next:active {
	background-color: #ffffff;
	color: #333333;
}
[id*='lightbox']:target + a,
[id*='lightbox']:target ~ .previous,
[id*='lightbox']:target ~ .next {
	background-color: #fff;
	border: 2px solid currentColor;
	color: #333;
	visibility: visible;
	position: fixed;
	top: 16px; right: 16px;
	z-index: 25;
}
[id*='lightbox']:target + a {
	top:32px; right:32px;
}
[id*='lightbox']:target ~ .previous,
[id*='lightbox']:target ~ .next {
	top: 50%;
}
[id*='lightbox']:target ~ .previous {
	left: 16px; right: auto;
}

/* Mark */

nav strong label mark,
.menu mark,
.collapser mark,
.accordion mark {
	background-color: transparent;
	border-top: 8px solid currentColor;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: none;
	color: inherit;
	content:'';
	position: absolute;
	right: 16px;
	top: 24px;
	vertical-align: middle;
}
nav strong label mark {
	right: 4px;
}

/* Banners and covers */

.banner,
.cover {
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	border:none;
	color: #fff;
	letter-spacing: .2em;
	overflow: hidden;
	text-align: center;
}
.banner {
	height: 512px;
	padding-top:180px;
}
.cover {
	height: 768px;
	padding-top: 320px;
}
.sticky-header {
	background-color: #fff;
	padding: 0;
	text-align: center;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	left: 0;
	z-index: 1;
}
.sticky-header * {
	font-size: 24px;
	margin: 0;
}
@media (max-width: 1024px) {
	.banner {
		background-size: 100%;
		height: 320px;
		padding-top: 96px;
	}
}

/* Nav tools & Theme switcher */

#tools-switcher,
#tools-nav {
	text-align: right;
	position: fixed;
	bottom: -2px; left: 0; right: 0;
	z-index: 20;
}
#tools-nav {
	background-color: rgba(0,0,0,.75);
	color: #fff;
	display: none;
	padding: 16px 2px;
	z-index: 21;
}
#tools-check:checked ~ #tools-nav {
	display: block;
}
#tools-nav label,
#tools-switcher label {
	background-color: #fff;
	border: 2px solid currentColor;
	border-radius: 50%;
	color: #000;
	display: block;
	float: right;
	margin: 0 8px 8px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	line-height: 44px;
	height: 48px;
	width: 48px;
}
#tools-nav #label-aurora { background-color: #fff; }
#tools-nav #label-meridianus { background-color: rgba(255,245,238,1); }
#tools-nav #label-vesperum { background-color: rgba(214,208,255,1); }
#tools-nav #label-nox { background-color: #000; }
#tools-nav label:hover {
	border-color: #fff;
}


/* Collapsed sample code */

.sample em label {
	background-color: rgba(0,0,0,.8);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	color: rgba(255,255,255,.8);
}
.sample div {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.sample pre {
	background-color: rgba(255,255,255,.8);
	color: rgba(0,0,0,.9);
}

/* Responsive helpers */

.mobile {
	display: none;
}
.desktop {
	display: block;
}
@media screen and (max-width: 1024px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

/* Colors */

[class*='txt-color'], [class*='txt-color'] * { background-color: inherit !important; }


.txt-color-softyellow { color: var(--color-softyellow); }
.txt-color-softorange { color: var(--color-softorange); }
.txt-color-softred { color: var(--color-softred); }
.txt-color-softmagenta { color: var(--color-softmagenta); }
.txt-color-softviolet { color: var(--color-softviolet); }
.txt-color-softblue { color: var(--color-softblue); }
.txt-color-softturquoise { color: var(--color-softturquoise); }
.txt-color-softgreen { color: var(--color-softgreen); }

.txt-color-yellow { color: var(--color-yellow); }
.txt-color-orange { color: var(--color-orange); }
.txt-color-red { color: var(--color-red); }
.txt-color-magenta { color: var(--color-magenta); }
.txt-color-violet { color: var(--color-violet); }
.txt-color-blue { color: var(--color-blue); }
.txt-color-turquoise { color: var(--color-turquoise); }
.txt-color-green { color: var(--color-green); }

.txt-color-white { color: var(--color-white); }
.txt-color-softgrey { color: var(--color-softgrey); }
.txt-color-grey { color: var(--color-grey); }
.txt-color-hardgrey { color: var(--color-hardgrey); }
.txt-color-softblack { color: var(--color-softblack); }
.txt-color-black { color: var(--color-black); }

[class*='bg-color'], [class*='bg-color'] * { background-color: inherit !important; border: none; color: var(--color-white); }

.bg-color-softyellow { background-color: var(--color-softyellow) !important; }
.bg-color-softorange { background-color: var(--color-softorange) !important; }
.bg-color-softred { background-color: var(--color-softred) !important; }
.bg-color-softmagenta { background-color: var(--color-softmagenta) !important; }
.bg-color-softviolet { background-color: var(--color-softviolet) !important; }
.bg-color-softblue { background-color: var(--color-softblue) !important; }
.bg-color-softturquoise { background-color: var(--color-softturquoise) !important; }
.bg-color-softgreen { background-color: var(--color-softgreen) !important; }

.bg-color-yellow { background-color: var(--color-yellow) !important; }
.bg-color-orange { background-color: var(--color-orange) !important; }
.bg-color-red { background-color: var(--color-red) !important; }
.bg-color-magenta { background-color: var(--color-magenta) !important; }
.bg-color-violet { background-color: var(--color-violet) !important; }
.bg-color-blue { background-color: var(--color-blue) !important; }
.bg-color-turquoise { background-color: var(--color-turquoise) !important; }
.bg-color-green { background-color: var(--color-green) !important; }

.bg-color-white { background-color: var(--color-white) !important; }
.bg-color-softgrey { background-color: var(--color-softgrey) !important; }
.bg-color-grey { background-color: var(--color-grey) !important; }
.bg-color-hardgrey { background-color: var(--color-hardgrey) !important; }
.bg-color-softblack { background-color: var(--color-softblack) !important; }
.bg-color-black { background-color: var(--color-black) !important; }


/* Text */

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

/* The end */